In [1]:
# pip install mysql-connector-python

In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('airbnb_csv.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42638 entries, 0 to 42637
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0.1                    42638 non-null  int64
 1   Unnamed: 0                      42638 non-null  int64
 2   id                              42638 non-null  int64
 3   name                            42624 non-null  object
 4   host_id                         42638 non-null  int64
 5   host_name                       42582 non-null  object
 6   borough                         42571 non-null  object
 7   neighbourhood                   42638 non-null  object
 8   latitude                        42607 non-null  float64
 9   longitude                       42609 non-null  float64
 10  room_type                       42552 non-null  object
 11  price                           42602 non-null  float64
 12  minimum_nights                  42604 non-null  float64
 13  number_of_reviews               42613 non-null  float64
 14  last_review                     33892 non-null  object
 15  reviews_per_month               33902 non-null  float64
 16  calculated_host_listings_count  42622 non-null  float64
 17  availability_365                42596 non-null  float64
dtypes: float64(8), int64(4), object(6)
memory usage: 5.9+ MB

In [5]:
df.isnull().sum()

Unnamed: 0.1                         0
Unnamed: 0                           0
id                                   0
name                                14
host_id                              0
host_name                           56
borough                             67
neighbourhood                        0
latitude                            31
longitude                           29
room_type                           86
price                               36
minimum_nights                      34
number_of_reviews                   25
last_review                       8746
reviews_per_month                 8736
calculated_host_listings_count      16
availability_365                    42
dtype: int64

In [6]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np

def convert_to_float(value):
    # Handle None values
    if value is None:
        return None

    # Convert other values to float
    return float(value)

def dataframetosql(dataframe):
    conn = None

    try:
        conn = mysql.connector.connect(host="localhost", user="root", password="root", database="airbnb_1", charset="utf8")
        cur = conn.cursor()

        cur.execute("DELETE FROM project_airbnb_3")
        conn.commit()

        # Replace NaN with None (Python's None)
        dataframe.replace({np.nan: None}, inplace=True)

        for _, rs in dataframe.iterrows():
            index1 = int(rs[0])
            Unnamed = int(rs[1])
            id = int(rs[2])
            name = str(rs[3])
            host_id = int(rs[4])
            host_name = str(rs[5])
            borough = str(rs[6])
            neighbourhood = str(rs[7])
            latitude = convert_to_float(rs[8])
            longitude = convert_to_float(rs[9])
            room_type = str(rs[10])
            price = convert_to_float(rs[11])
            minimum_nights = convert_to_float(rs[12])
            number_of_reviews = convert_to_float(rs[13])
            last_review = str(rs[14])
            reviews_per_month = convert_to_float(rs[15])
            calculated_host_listings_count = convert_to_float(rs[16])
            availability_365 = convert_to_float(rs[17])

            query = "INSERT INTO project_airbnb_3 (index1, Unnamed, id, namess, host_id, host_name, borough, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
            values = (index1, Unnamed, id, name, host_id, host_name, borough, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365)
            cur.execute(query, values)
            conn.commit()

        cur.close()

    except Error as e:
        print("Error in MySQL connection:", e)

    finally:
        if conn and conn.is_connected():
            conn.close()

# Main program
dataframe = pd.read_csv("airbnb_csv.csv")

print(dataframe)
dataframetosql(dataframe)
print("\nDataframe to MySQL Data transferred successfully")

       Unnamed: 0.1  Unnamed: 0        id  \
0                 0           0      2539
1                 1           1      2595
2                 2           2      3647
3                 3           3      3831
4                 4           5      5099
...             ...         ...       ...
42633         42633       48887  36483152
42634         42634       48889  36484363
42635         42635       48890  36484665
42636         42636       48891  36485057
42637         42637       48892  36485431

                                                  name    host_id  \
0                   Clean & quiet apt home by the park       2787
1                                Skylit Midtown Castle       2845
2                  THE VILLAGE OF HARLEM....NEW YORK !       4632
3                      Cozy Entire Floor of Brownstone       4869
4            Large Cozy 1 BR Apartment In Midtown East       7322
...                                                ...        ...
42633  Garden Jewel Apartment in Williamsburg New York  208514239
42634                               QUIT PRIVATE HOUSE  107716952
42635  Charming one bedroom - newly renovated rowhouse    8232441
42636    Affordable room in Bushwick/East Williamsburg    6570630
42637          Sunny Studio at Historical Neighborhood   23492952

           host_name    borough       neighbourhood  latitude  longitude  \
0               John   Brooklyn          kensington  40.64749  -73.97237
1           Jennifer  Manhattan             midtown  40.75362  -73.98377
2          Elisabeth        NaN              harlem  40.80902  -73.94190
3        LisaRoxanne   Brooklyn        clinton hill  40.68514  -73.95976
4              Chris  Manhattan         murray hill  40.74767  -73.97500
...              ...        ...                 ...       ...        ...
42633          Melki   Brooklyn        williamsburg  40.71232  -73.94220
42634        Michael     Queens             jamaica  40.69137  -73.80844
42635        Sabrina   Brooklyn  bedford-stuyvesant  40.67853  -73.94995
42636        Marisol   Brooklyn            bushwick  40.70184  -73.93317
42637  Ilgar & Aysel  Manhattan              harlem  40.81475  -73.94867

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room  149.0             1.0                9.0    10/19/18
1      Entire home/apt  225.0             1.0                NaN     5/21/19
2         Private room  150.0             3.0                0.0         NaN
3      Entire home/apt   89.0             1.0              270.0  07-05-2019
4      Entire home/apt  200.0             3.0               74.0     6/22/19
...                ...    ...             ...                ...         ...
42633  Entire home/apt  170.0             1.0                0.0         NaN
42634     Private room   65.0             1.0                0.0         NaN
42635     Private room   70.0             2.0                0.0         NaN
42636     Private room   40.0             4.0                0.0         NaN
42637  Entire home/apt  115.0            10.0                0.0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.21                             6.0             365.0
1                   0.38                             2.0               NaN
2                    NaN                             1.0             365.0
3                   4.64                             1.0             194.0
4                   0.59                             1.0             129.0
...                  ...                             ...               ...
42633                NaN                             3.0             365.0
42634                NaN                             2.0             163.0
42635                NaN                             2.0               9.0
42636                NaN                             2.0              36.0
42637                NaN                             1.0              27.0

[42638 rows x 18 columns]

Dataframe to MySQL Data transferred successfully